/* 폰트 크기 */
$font-size-micro: 1rem;
$font-size-small: 1.2rem;
$font-size-regular: 1.6rem;
$font-size-medium: 2rem;
$font-size-large: 4rem;

/* 색상 */
$color-teal-lighter: #80cbc4;
$color-teal-base: #4db6ac;

$color-gray-lighter: #dbdbdb;
$color-gray-base: #b5b5b5;
$color-gray-darker: #000000;

$color-green-base: #7cbb3f;

$color-orange-base: #ff8e0d;

$color-red-base: #ff3232;
